div, aside, section, span, article, h1, h2, h3, h4, h5, h6, aside, header, footer{
    margin: 0px;
    padding: 0px;
}
body{
    font-size: 16px;
    font-family: Tahoma;
}
.homePageQuestions, .questionBodyAnswer{
    background: #ded5d7;
    margin-bottom: 15px;
    padding: 5px;
    box-shadow: 1px 1px 3px black;
}
.homePageQuestions > span, .questionBody > span, .questionBodyAnswer > span{
    margin-right: 15px;
}
.homePageQuestionHeading{
    box-sizing: border-box;
    margin-bottom: 9px;
}
.homePageQuestionHeading > a{
    color: #234465;
    text-decoration: none;
}
.homePageQuestionHeading > a:hover{
    text-shadow: 1px 1px 3px #234465;
}
.homePageQuestionAddFrom > a{
    font-weight: bold;
}
.homePageQuestionAddTime{
    font-weight: bold;
}
.homePageQuestionVisits{
    display: block;
    text-align: left;
    margin-top: 9px;
    font-style: italic;
}
aside{
    margin-top: 15px;
}
.sectionHeading{
    margin: 15px 0 15px 0;
}
.glyphicon{
    color: #234465;
    margin-right: 4px;
}
.logHolder{
    width: 300px;
    line-height: 50px;
    color: white;
    display: inline-block;
}
#srch-term{
    width: 200px;
}
.questionBodyHeading{
    font-weight: bold;
    border-bottom: 1px solid black;
    margin-bottom: 15px;
}
.questionBodyTags{
    display: block;
    text-align: left;
    font-size: 0.8em;
    margin: 15px 0 15px 0;
}
.questionBodyTags > a{
    color: #234465;
}
.questionBodyAddAnswer{
    display: block;
    margin-bottom: 15px;
}
.questionBody{
    margin-bottom: 15px;
    background: #ffffff;
    padding: 5px;
    box-shadow: 1px 1px 3px black;
}
.addQuestion, .addAnswerBody{
    width: 60%;
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    height: 100%;
    top: 0;
    left: 20%;
    z-index: 4000;
    padding: 5px;
}
.addQuestion .leftSide, .addAnswerBody .leftSide{
    width: 30%;
    text-align: left;
    display: inline-block;
    color: white;
}
.addQuestion .rightSide, .addAnswerBody .rightSide{
    width: 70%;
    text-align: left;
    display: inline-block;
    float: right;
}
.addAnswerBody h2, .addQuestion h2{
    text-align: center;
    margin: 15px 0 15px 0;
    color: white;
    font-weight: bold;
    display: inline-block;
    width: 95%;
}
.addAnswerButton{
    margin: 0 0 0 50%;
    background: lightgray;
    padding: 5px;
    border: 0 solid;
    border-radius: 5px;
}
.closeAnswer, .closeQuestion{
    color: red;
    cursor: pointer;
}
.addQuestionButton{
    background: lightgray;
    padding: 5px;
    border: 0 solid;
    border-radius: 5px;
    margin: 0 0 15px 0;
}
.addAnswer{
    background: lightgray;
    padding: 5px;
    border: 0 solid;
    border-radius: 5px;
    margin: 15px 0 0 0;
}
footer{
    background: #234465;
    height: 80px;
    line-height: 80px;
    padding: 0 0 0 40px;
    color: white;
}